services:
  zeek_runner:
    image: zeek_runner:latest
    container_name: zeek_runner
    restart: unless-stopped
    ports:
      - "8000:8000"
    environment:
      - KAFKA_BROKERS=192.168.12.224:9092
    volumes:
      - /opt/zeek_runner/pcaps:/opt/zeek_runner/pcaps
      - /opt/zeek_runner/scripts:/opt/zeek_runner/scripts
      - /opt/zeek_runner/custom/config.zeek:/usr/local/zeek/share/zeek/base/custom/config.zeek